*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;

    background:#fffaf0;
}

canvas{

    width:100vw;
    height:100vh;

    display:block;
}

/* SoyArte palette button hover */
button:hover,
.btn:hover,
[class^='btn-']:hover,
[class*=' btn-']:hover{
    color:#2c4e7e;
}
