*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;

    background:
    linear-gradient(
        180deg,
        #ffffff,
        #f3f4f6
    );
}

canvas{

    width:100vw;
    height:100vh;

    display:block;
}